

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
  }
  
  body, #root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
}

@layer components {
  .button-primary{
    @apply py-2 px-7 text-white bg-gray-900 cursor-pointer
  }
  .button-secondary{
    @apply py-2 px-2 w-28 border-[1px] border-gray-600 transition duration-300 ease-in-out hover:bg-gray-900 hover:text-white font-bold
  }
  .input-text{
  @apply border-gray-500 border-[1px] px-2 py-1 rounded-md
  }
}
